# wpa files (connection to eduroam)
wpa_*
wpa_supplicant2.conf
wpa_supplicant.conf
*.conf

# gpiozero library (here for understanding)
python-gpiozero/*
python-gpiozero

# rpicustomiser library
rpicustomiser/*
rpicustomiser

# data is stored as .csv
data/*.csv
hackathon/2012_2018_1min.csv
# *.csv
# .DS_Store

#
cattlepi/*
cattlepi

#
login_pi.sh
pi_weather_station.pdf
pi_logins*

#
get_online_phys_data/push_to_remote.sh
